<div class="container">
  <h1>Gerador de Loterias</h1>

  <div class="card config-section">
    <div class="form-group">
      <label>Tipo de Jogo:</label>
      <select 
        [ngModel]="configSelecionada()" 
        (ngModelChange)="configSelecionada.set($event); onConfigChange()">
        @for(config of infosConfigs; track config.id) {
          <option [ngValue]="config">{{config.nome}}</option>
        }
      </select>
    </div>

    <div class="form-group">
      <label>Quantidade de Jogos:</label>
      <input type="number" min="1" max="100" 
            [ngModel]="qtdJogos()" 
            (ngModelChange)="qtdJogos.set($event)">
    </div>

    <div class="form-group">
      <label>Números por Bilhete (Min: {{configSelecionada().qtdSelecMin}}/Max: {{configSelecionada().qtdSelecMax}}):</label>
      <input type="number" 
            [min]="configSelecionada().qtdSelecMin" 
            [max]="configSelecionada().qtdSelecMax"
            [ngModel]="qtdNumeros()" 
            (ngModelChange)="qtdNumeros.set($event)">
    </div>

    <button (click)="gerar()" [disabled]="isLoading()">
      @if(isLoading()) {
        Verificando Histórico...
      } @else {
        Gerar Jogos
      }
    </button>

    @if(mensagemErro()) {
      <p class="error">{{mensagemErro()}}</p>
    }
  </div>

  <hr>

  <div class="results-section">
    @if(jogosGerados().length > 0) {
      <h2>Jogos Gerados ({{ configSelecionada().nome }})</h2>
      <div class="games-list">
        @for (jogo of jogosGerados(); track $index) {
          <app-jogos
            [jogo] = "jogo"
            [index] = "$index + 1">
          </app-jogos>
        }
      </div>
    }
  </div>
</div>


<router-outlet />
